@model ContactModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4 class="text-danger">Szczegóły</h4>
<h4 class="text-success">Imię i nazwisko</h4>
<h2>@Model.FirstName @Model.LastName</h2>
<h4 class="text-success">Numer Telefonu</h4>
<h3>@Model.PhoneNumber</h3>
<h4 class="text-success">Email</h4>
<h3>@Model.Email</h3>
<h4 class="text-success">Data urodzenia</h4>
<h3>@Model.BirthDate</h3>

<a  asp-action="Index"  class="btn btn-danger">Powrót do widoku kontaktów</a>




